
# xrp server websocket address
XRP_SERVER=wss://xrplcluster.com
# xrp clio server websocket address
XRP_CLIO_SERVER=wss://s2-clio.ripple.com
# ipfs url
IPFS_URL=
# token issuer wallet
TOKEN_ISSUER=

# marketplace url
MARKETPLACE_URL=https://nft.onxrp.com/nft
# api url
API_METADATA_URL=https://marketplace-api.onxrp.com/api/metadata
# api coin price url
API_COIN_META_URL=https://api.onxrp.com/api/coins/get-meta

# coinmarketcap api key
COINMARKETCAP_API_KEY=
# coinmarketcap api url
COINMARKETCAP_PRICE_CONVERSION_URL=

# For TwitJsClient
CONSUMER_KEY_ACCOUNT_1=xxxx
CONSUMER_SECRET_ACCOUNT_1=xxxx
ACCESS_TOKEN_ACCOUNT_1=xxxx
ACCESS_TOKEN_SECRET_ACCOUNT_1=xxxx

CONSUMER_KEY_ACCOUNT_2=xxxx
CONSUMER_SECRET_ACCOUNT_2=xxxx
ACCESS_TOKEN_ACCOUNT_2=xxxx
ACCESS_TOKEN_SECRET_ACCOUNT_2=xxxx

CONSUMER_KEY_ACCOUNT_3=xxxx
CONSUMER_SECRET_ACCOUNT_3=xxxx
ACCESS_TOKEN_ACCOUNT_3=xxxx
ACCESS_TOKEN_SECRET_ACCOUNT_3=xxxx

# For TwitterApiV2Client
CONSUMER_KEY_ACCOUNT_1=xxxx
CONSUMER_SECRET_ACCOUNT_1=xxxx
ACCESS_TOKEN_ACCOUNT_1=xxxx
ACCESS_SECRET_ACCOUNT_1=xxxx

CONSUMER_KEY_ACCOUNT_2=xxxx
CONSUMER_SECRET_ACCOUNT_2=xxxx
ACCESS_TOKEN_ACCOUNT_2=xxxx
ACCESS_SECRET_ACCOUNT_2=xxxx

CONSUMER_KEY_ACCOUNT_3=xxxx
CONSUMER_SECRET_ACCOUNT_3=xxxx
ACCESS_TOKEN_ACCOUNT_3=xxxx
ACCESS_SECRET_ACCOUNT_3=xxxx

DISCORD_BOT_TOKEN=
DISCORD_XPUNKS_CHANNEL_ID=channel_id_for_xpunks
DISCORD_UNIXPUNKS_CHANNEL_ID=channel_id_for_unixpunks
DISCORD_EDEN_PROPERTIES_CHANNEL_ID=channel_id_for_eden
DISCORD_ONXRP_CHANNEL_ID=channel_id_for_onxrp

DISCORD_XPUNKS_ROLE_ID=XPUNKS_ROLE_ID
DISCORD_UNIXPUNKS_ROLE_ID=UNIXPUNKS_ROLE_ID
DISCORD_EDEN_PROPERTIES_ROLE_ID=EDEN_PROPERTIES_ROLE_ID


